###################################################################### Auth ####
################################################################################

#AuthName "Admin Auth"
#AuthType Basic
#AuthUserFile "/home/www/xxx/users/xxx/data/htpasswd/.htpasswd"
#Require valid-user



################################################################## Security ####
################################################################################

# Disable external access
# Order Deny,Allow
# Deny from all
# Allow from localhost
# Allow from 192.168.0.10

# Prevent libwww-perl access
SetEnvIfNoCase User-Agent "^libwww-perl*" block_bad_bots
Deny from env=block_bad_bots

# Prevent some browsers from MIME-sniffing the response
<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
</IfModule>

# Disable directory browsing
Options All -Indexes

# Hide specific files
<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|inc|bak|env)$">
    Order allow,deny
    Deny from all
</FilesMatch>



#################################################################### Domain ####
################################################################################

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Pointing to main domain
    # RewriteCond %{HTTP_HOST} !__MAIN_DOMAIN__\.ch$ [NC]
    # RewriteRule ^(.*)$ http://__MAIN_DOMAIN__.ch/$1 [R=301,L]

    # Pointing global www to non-www
    # RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    # RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

    # Pointing global non-www to www
    # RewriteCond %{HTTP_HOST} !^www\. [NC]
    # RewriteCond %{HTTP_HOST} !swisscenter\. [NC]
    # RewriteCond %{HTTP_HOST} !localhost [NC]
    # RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [L,R=301]

    # Redirect HTTP to HTTPS
    # RewriteCond %{HTTPS} !on
    # RewriteCond %{HTTP:X-Forwarded-Proto} !https
    # RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</IfModule>



################################################################### Charset ####
################################################################################

# Use UTF-8 encoding for anything served text/plain or text/html
AddDefaultCharset UTF-8

# Force UTF-8 for a number of file formats
<IfModule mod_mime.c>
    AddCharset UTF-8 .atom .css .js .json .rss .vtt .xml
</IfModule>



################################################################ Mime types ####
################################################################################

<IfModule mod_mime.c>
    AddType application/atom+xml                    atom
    AddType application/json                        json map topojson
    AddType application/ld+json                     jsonld
    AddType application/rss+xml                     rss
    AddType application/vnd.geo+json                geojson
    AddType application/xml                         rdf xml

    AddType application/javascript                  js
    AddType application/x-web-app-manifest+json     webapp
    AddType text/cache-manifest                     appcache

    AddType audio/mp4                               f4a f4b m4a
    AddType audio/ogg                               oga ogg opus
    AddType image/bmp                               bmp
    AddType image/svg+xml                           svg svgz
    AddType image/webp                              webp
    AddType video/mp4                               f4v f4p m4v mp4
    AddType video/ogg                               ogv
    AddType video/webm                              webm
    AddType video/x-flv                             flv

    AddType application/font-woff                   woff
    AddType application/font-woff2                  woff2
    AddType application/vnd.ms-fontobject           eot
    AddType application/x-font-ttf                  ttc ttf
    AddType font/opentype                           otf

    AddType application/octet-stream                safariextz
    AddType application/x-bb-appworld               bbaw
    AddType application/x-chrome-extension          crx
    AddType application/x-opera-extension           oex
    AddType application/x-xpinstall                 xpi
    AddType text/vcard                              vcard vcf
    AddType text/vnd.rim.location.xloc              xloc
    AddType text/vtt                                vtt
    AddType text/x-component                        htc
</IfModule>



##################################################################### Cache ####
################################################################################

# Remove ETags as resources are sent with far-future expires headers
<IfModule mod_headers.c>
    Header unset ETag
</IfModule>

FileETag None

# Cache public
<FilesMatch "\.(css|swf|flv|webm|webp|avi|mov|wmv|mp4|mp3|wav|ico|jpg|jpeg|png|gif|svg|woff|woff2|eot|otf|ttf|webmanifest)$">
    Header set Cache-Control "public"
</FilesMatch>

# Cache expires
<IfModule mod_expires.c>
    ExpiresActive on
    ExpiresDefault                                  "access plus 1 month"

    ExpiresByType text/cache-manifest               "access plus 0 seconds"
    ExpiresByType text/html                         "access plus 0 seconds"
    ExpiresByType text/xml                          "access plus 0 seconds"
    ExpiresByType text/css                          "access plus 1 year"
    ExpiresByType text/javascript                   "access plus 1 year"

    ExpiresByType application/xml                   "access plus 0 seconds"
    ExpiresByType application/json                  "access plus 0 seconds"
    ExpiresByType application/javascript            "access plus 1 year"
    ExpiresByType application/x-javascript          "access plus 1 year"

    ExpiresByType audio/ogg                         "access plus 1 month"

    ExpiresByType video/ogg                         "access plus 1 month"
    ExpiresByType video/mp4                         "access plus 1 month"
    ExpiresByType video/webm                        "access plus 1 month"

    ExpiresByType image/x-icon                      "access plus 1 month"
    ExpiresByType image/svg+xml                     "access plus 1 month"
    ExpiresByType image/jpg                         "access plus 1 month"
    ExpiresByType image/jpeg                        "access plus 1 month"
    ExpiresByType image/gif                         "access plus 1 month"
    ExpiresByType image/png                         "access plus 1 month"

    ExpiresByType application/font-woff             "access plus 1 year"
    ExpiresByType application/font-woff2            "access plus 1 year"
    ExpiresByType application/vnd.ms-fontobject     "access plus 1 year"
    ExpiresByType application/x-font-ttf            "access plus 1 year"
    ExpiresByType font/opentype                     "access plus 1 year"
</IfModule>



############################################################### Compression ####
################################################################################

<IfModule mod_filter.c>
    SetOutputFilter DEFLATE

    AddOutputFilterByType DEFLATE application/atom+xml
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE application/json
    AddOutputFilterByType DEFLATE application/ld+json
    AddOutputFilterByType DEFLATE application/manifest+json
    AddOutputFilterByType DEFLATE application/schema+json
    AddOutputFilterByType DEFLATE application/vnd.geo+json
    AddOutputFilterByType DEFLATE application/xml
    AddOutputFilterByType DEFLATE application/rdf+xml
    AddOutputFilterByType DEFLATE application/rss+xml
    AddOutputFilterByType DEFLATE application/xhtml+xml
    AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
    AddOutputFilterByType DEFLATE application/x-font-ttf
    AddOutputFilterByType DEFLATE application/x-javascript
    AddOutputFilterByType DEFLATE application/x-web-app-manifest+json
    AddOutputFilterByType DEFLATE font/eot
    AddOutputFilterByType DEFLATE font/opentype
    AddOutputFilterByType DEFLATE image/bmp
    AddOutputFilterByType DEFLATE image/vnd.microsoft.icon
    AddOutputFilterByType DEFLATE image/svg+xml
    AddOutputFilterByType DEFLATE image/x-icon
    AddOutputFilterByType DEFLATE text/cache-manifest
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/javascript
    AddOutputFilterByType DEFLATE text/plain
    AddOutputFilterByType DEFLATE text/vcard
    AddOutputFilterByType DEFLATE text/x-component
    AddOutputFilterByType DEFLATE text/vnd.rim.location.xloc
    AddOutputFilterByType DEFLATE text/vtt
    AddOutputFilterByType DEFLATE text/x-component
    AddOutputFilterByType DEFLATE text/x-cross-domain-policy
    AddOutputFilterByType DEFLATE text/xml
</IfModule>



################################################################# Redirects ####
################################################################################

<IfModule mod_rewrite.c>
    RewriteEngine On

</IfModule>



#################################################################### Routes ####
################################################################################

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    RewriteCond %{REQUEST_URI} !/index.php$ [NC]
    RewriteCond %{REQUEST_URI} !/robots.txt$ [NC]
    RewriteCond %{REQUEST_URI} !/sitemap.xml$ [NC]
    RewriteCond %{REQUEST_URI} !/public/(.+)\.(zip|js|json|map|css|swf|flv|pdf|ppt|pptx|doc|docx|xls|xlsx|webm|webp|avi|mov|wmv|mp4|mp3|wav|ico|jpg|jpeg|png|gif|svg|woff|woff2|eot|otf|ttf|webmanifest)$ [NC]
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
