.input--type-select {
	.input--input {
		padding: 14px 12px 14px 16px !important;

		@include detect-ie-edge {
			padding: 13px 12px 13px 16px !important;
		}

		.input-value {
			min-width: 140px;
		}
	}
}
