.content {
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	@include all-devices('--small') {
		max-width: 456px;
	}

	@include all-devices('--x-small') {
		max-width: 568px;
	}

	@include all-devices('--medium') {
		max-width: 640px;
	}

	@include all-devices('--x-medium') {
		max-width: 752px;
	}

	@include all-devices('--large') {
		max-width: 974px;
	}

	@include all-devices('--x-large') {
		max-width: 1128px;
	}

	@include all-devices('--stick-left') {
		margin-left: 0;
	}

	@include all-devices('--stick-right') {
		margin-right: 0;
	}
}
